@import "tailwindcss";

.logo-bg {
  position: fixed;
  inset: 0;
  z-index: -10;
  background-color: #b37700;

  opacity: 0;
  transition: opacity 0.6s ease;

  -webkit-mask-image: url('/Rectangle126.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 40vmin;

  mask-image: url('/Rectangle126.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 40vmin;
}

.logo-bg.active {
  opacity: 1;
}
